## Codeclause- Data Science Intern
### Author - Savita Saw
### (March 2023)

In [2]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
     ---------------------------------------- 1.3/1.3 MB 3.9 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=1.0.2 in d:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: setuptools in d:\programdata\anaconda3\lib\site-packages (from mlxtend) (49.1.0)
Requirement already satisfied: scipy>=1.2.1 in d:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.4.1)
Requirement already satisfied: joblib>=0.13.2 in d:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: matplotlib>=3.0.0 in d:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.1.3)
Requirement already satisfied: pandas>=0.24.2 in d:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: numpy>=1.16.2 in d:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.18.1)
Requirement already satisfied: python-dateutil>=2.1 in d:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in d:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in d:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.6)
Requirement already satisfied: pytz>=2017.2 in d:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: six in d:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.14.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.21.0
Note: you may need to restart the kernel to use updated packages.

 * mlxtend is a Python library for machine learning and data analysis 
 that provides a wide range of useful tools and functions for data processing, visualization, feature selection, classification,
 and clustering.

In [3]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

* csv file is throwing error so use excel only

In [5]:
data= pd.read_excel("C:\\Users\\tarun\\OneDrive\\Savita DS\\DS projects\\Market Basket Analysis\MBA_data.xlsx")

<>:1: DeprecationWarning: invalid escape sequence \M
<>:1: DeprecationWarning: invalid escape sequence \M
<>:1: DeprecationWarning: invalid escape sequence \M
<ipython-input-5-179cd8470d94>:1: DeprecationWarning: invalid escape sequence \M
  data= pd.read_excel("C:\\Users\\tarun\\OneDrive\\Savita DS\\DS projects\\Market Basket Analysis\MBA_data.xlsx")

In [7]:
data.head()

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [8]:
data.columns

Index(['BillNo', 'Itemname', 'Quantity', 'Date', 'Price', 'CustomerID',
       'Country'],
      dtype='object')

In [15]:
data.shape

(522064, 7)

In [16]:
data.describe()

            Quantity          Price     CustomerID
count  522064.000000  522064.000000  388023.000000
mean       10.090435       3.826801   15316.931710
std       161.110525      41.900599    1721.846964
min     -9600.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13950.000000
50%         3.000000       2.080000   15265.000000
75%        10.000000       4.130000   16837.000000
max     80995.000000   13541.330000   18287.000000

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522064 entries, 0 to 522063
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BillNo      522064 non-null  object
 1   Itemname    520609 non-null  object
 2   Quantity    522064 non-null  int64
 3   Date        522064 non-null  datetime64[ns]
 4   Price       522064 non-null  float64
 5   CustomerID  388023 non-null  float64
 6   Country     522064 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 27.9+ MB

In [19]:
data.isnull().sum()

BillNo             0
Itemname        1455
Quantity           0
Date               0
Price              0
CustomerID    134041
Country            0
dtype: int64

In [21]:
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'Switzerland', 'Spain', 'Poland', 'Portugal', 'Italy',
       'Belgium', 'Lithuania', 'Japan', 'Iceland', 'Sweden', 'Austria',
       'Bahrain', 'Israel', 'Greece', 'Hong Kong', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Saudi Arabia', 'Unspecified', 'Brazil',
       'USA', 'Malta', 'RSA'], dtype=object)

In [37]:
data["Country"].value_counts()

United Kingdom          487622
Germany                   9042
France                    8408
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1967
Portugal                  1501
Australia                 1185
Norway                    1072
Italy                      758
Sweden                     451
Unspecified                446
Austria                    398
Poland                     330
Japan                      321
Israel                     295
Hong Kong                  284
Singapore                  222
Iceland                    182
USA                        179
Greece                     145
Malta                      112
United Arab Emirates        68
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Bahrain                     18
Saudi Arabia                 9
Name: Country, dtype: int64

## Cleaning the Data

In [23]:
# Stripping extra spaces in the description
data['Itemname'] = data['Itemname'].str.strip()

* .str indicates that we are accessing the string methods of each element in the 'Description' column.
* .strip() is a string method that removes whitespace characters from the beginning and end of a string.

In [24]:
# Dropping the rows without any invoice number
data.dropna(axis = 0, subset =['BillNo'], inplace = True)
data['BillNo'] = data['BillNo'].astype('str')

* dropna() is a pandas method used to remove rows or columns with missing data.
* .astype('str') is a pandas method that converts the data type of the column to the string data type.
* inplace=True specifies that we want to modify the original DataFrame data in place, rather than creating a new DataFrame.
* subset=['BillNo'] specifies that we only want to check for missing values in the 'BillNo' column.

In [32]:
# Dropping all transactions which were done on credit
data = data[~data['BillNo'].str.contains('C')]

## Splitting the data according to the region of transaction

In [27]:
# Transactions done in France
basket_France = (data[data['Country'] =="France"]
          .groupby(['BillNo', 'Itemname'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('BillNo'))

In [28]:
# Transactions done in the United Kingdom
basket_UK = (data[data['Country'] =="United Kingdom"]
          .groupby(['BillNo', 'Itemname'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('BillNo'))

In [30]:
# Transactions done in Portugal
basket_Portugal = (data[data['Country'] =="Portugal"]
          .groupby(['BillNo', 'Itemname'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('BillNo'))

In [31]:
# Transactions done in Sweden
basket_Sweden = (data[data['Country'] =="Sweden"]
          .groupby(['BillNo', 'Itemname'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('BillNo'))

## Hot encoding the Data

In [38]:
# Defining the hot encoding function to make the data suitable
# for the concerned libraries
def hot_encode(x):
   if(x<= 0):
     return 0
   if(x>= 1):
     return 1

# Encoding the datasets
basket_encoded = basket_France.applymap(hot_encode)
basket_France = basket_encoded

basket_encoded = basket_UK.applymap(hot_encode)
basket_UK = basket_encoded

basket_encoded = basket_Portugal.applymap(hot_encode)
basket_Portugal = basket_encoded

basket_encoded = basket_Sweden.applymap(hot_encode)
basket_Sweden = basket_encoded

## Building the models and analyzing the results

### a) France:

In [42]:
# Building the model
frq_items = apriori(basket_France, min_support = 0.05, use_colnames = True)

# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules.head()

D:\ProgramData\Anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:115: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  DeprecationWarning,

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
45,(JUMBO BAG WOODLAND ANIMALS),(POSTAGE),0.076531,0.765306,0.076531,1.000,1.306667,0.017961,inf
258,"(RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...",(POSTAGE),0.051020,0.765306,0.051020,1.000,1.306667,0.011974,inf
271,"(RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...",(POSTAGE),0.053571,0.765306,0.053571,1.000,1.306667,0.012573,inf
302,"(SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...",(SET/6 RED SPOTTY PAPER PLATES),0.102041,0.127551,0.099490,0.975,7.644000,0.086474,34.897959
301,"(SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...",(SET/6 RED SPOTTY PAPER CUPS),0.102041,0.137755,0.099490,0.975,7.077778,0.085433,34.489796

* From the above output, it can be seen that paper cups and paper and plates are bought together in France.
This is because the French have a culture of having a get-together with their friends and family atleast once a week. Also,
since the French government has banned the use of plastic in the country, 
the people have to purchase the paper-based alternatives.

### b) United Kingdom:

In [43]:
#likewise all

## Making reecommendations

In [44]:
basket_France['ROUND SNACK BOXES SET OF4 WOODLAND'].sum()

62

In [45]:
basket_France['SPACEBOY LUNCH BOX'].sum()

49

In [46]:
#Filtering rules based on condition
rules[ (rules['lift'] >= 3) &
       (rules['confidence'] >= 0.3) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
302,"(SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...",(SET/6 RED SPOTTY PAPER PLATES),0.102041,0.127551,0.099490,0.975000,7.644000,0.086474,34.897959
301,"(SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...",(SET/6 RED SPOTTY PAPER CUPS),0.102041,0.137755,0.099490,0.975000,7.077778,0.085433,34.489796
337,"(POSTAGE, SET/6 RED SPOTTY PAPER CUPS, SET/20 ...",(SET/6 RED SPOTTY PAPER PLATES),0.084184,0.127551,0.081633,0.969697,7.602424,0.070895,28.790816
335,"(SET/6 RED SPOTTY PAPER PLATES, POSTAGE, SET/2...",(SET/6 RED SPOTTY PAPER CUPS),0.084184,0.137755,0.081633,0.969697,7.039282,0.070036,28.454082
174,(SET/6 RED SPOTTY PAPER PLATES),(SET/6 RED SPOTTY PAPER CUPS),0.127551,0.137755,0.122449,0.960000,6.968889,0.104878,21.556122
...,...,...,...,...,...,...,...,...,...
100,(PLASTERS IN TIN CIRCUS PARADE),(PLASTERS IN TIN STRONGMAN),0.168367,0.081633,0.058673,0.348485,4.268939,0.044929,1.409587
226,(LUNCH BAG RED RETROSPOT),"(LUNCH BAG WOODLAND, POSTAGE)",0.153061,0.102041,0.051020,0.333333,3.266667,0.035402,1.346939
15,(ROUND SNACK BOXES SET OF4 WOODLAND),(ALARM CLOCK BAKELIKE RED),0.158163,0.094388,0.051020,0.322581,3.417611,0.036092,1.336856
330,(PLASTERS IN TIN CIRCUS PARADE),"(POSTAGE, PLASTERS IN TIN SPACEBOY, PLASTERS I...",0.168367,0.084184,0.053571,0.318182,3.779614,0.039398,1.343197
333,(PLASTERS IN TIN WOODLAND ANIMALS),"(PLASTERS IN TIN CIRCUS PARADE, POSTAGE, PLAST...",0.170918,0.073980,0.053571,0.313433,4.236747,0.040927,1.348769